/* :root { */
/* // colors */
/* --primary: "color1";


  // backgrounds/surfaces
  --background-main: ${theme.background.main};
  --background-paper: ${theme.background.paper};
  --background-disabled: ${theme.background.disabled};
  --background-error: ${theme.background.error};
  --background-modal: ${theme.background.modal};
  --background-nav: ${theme.background.nav}; */

/*
  --divider: ${theme.divider};
  // fonts
  --default-font-size: 1rem;
  --label-font-size: 0.875rem;
  --heading-font-size: 1.125rem;
  // text colors
  --text: ${theme.text.main};
  --text-light: ${theme.text.light};
  --text-disabled: ${theme.text.light};
  --text-placeholder: ${theme.text.placeholder};
  // focus element
  --focus-color: ${theme.focus};
  --focus-indication-thickness: 0.125rem; */

/*   
  // borders
  --border-width: 0.0125rem;
  --secondary-border-width: 0.0625rem;
  --border: var(--border-width) solid var(--divider);
  --border-focus: 0 0 0 var(--focus-indication-thickness) var(--focus-color);
  --border-primary: var(--border-width) solid var(--primary);
  --border-dashed: 0.125rem dashed var(--primary); // TODO does design even want this?
  --border-radius: 0.3125rem
}
/* 
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background 0.2s ease-out;
  }
  html,
  body {
    background: var(--background-main);
    color: var(--text);
    font-family: ${defaultFontSet};
    line-height: 1.4;
    margin: 0;
    overscroll-behavior: none;
    padding: 0;
  }
  a {
    color: var(--text);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  button {
    border: none;
    outline: none;
    font-family: ${defaultFontSet};
    :focus {
      box-shadow: var(--border-focus);
    }
  }
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: ${fonts.heading};
    margin-block-end: 1%;
  }
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.3125rem;
    font-weight: normal;
  }
  h3 {
    font-size: 1.125rem;
    font-weight: normal;
    margin-bottom: ${spacing.m};
  }
  input {
    font-family: ${defaultFontSet};
  }
  img {
    width: 100%;
  }
  label {
    font-family: ${defaultFontSet};
    font-size: var(--label-font-size);
  }
  legend {
    font-size: 0.75rem;
    font-weight: bold;
  }
  ol,
  ul {
    list-style: none;
    padding-left: 0;
  }
  small {
    font-size: 0.625rem;
    line-height: 1.6;
  }
  span {
    font-family: ${defaultFontSet};
  }
  svg {
    color: var(--text);
  }

  

  .no-scroll {
    overflow-y: hidden;
  } */

/* // global resets */
